/* Alphabetically ordered rules targeting elements by their HTML tag */

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}


/* Alphabetically ordered rules targeting elements by their classes */

.aboutSections {
  align-content: center;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.explanation {
  font-size: 18px;
  line-height: 1.6;
}


/* Alphabetically ordered rules targeting elements by their id */

#firstSection {
  justify-content: flex-end;
}

#lastSection {
  justify-content: flex-start;
}