/* Alphabetically ordered rules targeting elements by their HTML tag */

main {
  display: flex;
  flex-direction: column;
}


/* Alphabetically ordered rules targeting elements by their classes */

.aboutSections {
  align-content: center;
  flex: 1 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.explanation {
  font-size: 18px;
  line-height: 1.6;
}


/* Alphabetically ordered rules targeting elements by their id */

#firstSection {
  justify-content: end;
}

#lastSection {
  justify-content: start;
}