/* Alphabetically ordered rules targeting elements by their HTML tag */
a {
  outline: none;
}

input[id="search"] {
  height: 45px !important; 
  margin-top: 10px;
  border-radius: 5px;
}

nav .input-field label {
  top: -8px;
  left: 0;
}

.page-footer{
  background-color: #448aff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Alphabetically ordered rules targeting elements by their classes */

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.emptySpace {
  height: 90px;
}

.logo {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}

.navRow {
  padding: 20px 0px;
}

.search-input {
  background-color: #82b1ff ;
  height: 45px !important; 
  margin-top: 10px;
  border-radius: 5px;
}

/*
  The following three rules are specifically used in those pages where multiple shows are shown at
  the same time (within cards).
*/
.showCard {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.showCardContent {
  padding: 20px 10px !important;
}

.showImage {
  width: 100%;
}


/* Alphabetically ordered rules targeting elements by their id */

#search {
  border-radius: 5px;
  outline: none;
}


/* Media queries */

@media only screen and (min-width: 601px) {
  nav {
    padding: 10px 0px;
  }

  .emptySpace {
    height: 50px;
  }
}