.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.navRow {
  background-color: #438AFE;
  padding: 20px 0px;
}

.emptySpace {
  height: 90px;
}

.logo {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}

input[id="search"] {
  height: 45px !important; 
  margin-top: 10px;
  border-radius: 5px;
}

.search-input {
  background-color: #82b1ff ;
  height: 45px !important; 
  margin-top: 10px;
  border-radius: 5px;
}

nav .input-field label {
  top: -8px;
  left: 0;
}

#search {
  border-radius: 5px;
  outline: none;
}

@media only screen and (min-width: 601px) {
  nav {
    padding: 10px 0px;
  }

  .emptySpace {
    height: 50px;
  }
}